<script>
  export default {
    data() {
      return {
        surprise: false,
      };
    },
  };
</script>

<template>
  <Page>
    <ActionBar title="MyApp" />
    <StackLayout>
      <RadSideDrawer ref="drawer">
        <StackLayout ~drawerContent backgroundColor="gray">
          <StackLayout height="56" style="text-align: center; vertical-align: center;">
            <Label text="Navigation Menu" />
          </StackLayout>
          <StackLayout>
            <Label text="Primary" padding="10" backgroundColor="lightgray" />
            <Label text="Social" padding="10" />
            <Label text="Promotions" padding="10" />
            <Label text="Labels" padding="10" backgroundColor="lightgray" />
            <Label text="Important" padding="10" />
            <Label text="Starred" padding="10" />
            <Label text="Sent Mail" padding="10" />
            <Label text="Drafts" padding="10" />
          </StackLayout>
          <Label text="Close" color="lightgray" padding="10" style="horizontal-align: center" />
        </StackLayout>
        <StackLayout ~mainContent>
          <Label text="test" />
          <Label text="test" />
        </StackLayout>
      </RadSideDrawer>
    </StackLayout>
  </Page>
</template>

<style scoped>
  .hello-world {
    margin: 20;
  }
  Label {
    color: red;
  }
</style>
